html, body, .container-fluid, .inner_container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.full_screen_height{
    height: 100%;
}

.select_semester_width{
    width: 80%;
}