<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Course Picker</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/m_wizard_test_style.css" type="text/css">
    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/style_.css" type="text/css">

    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/wizard_style.css">
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/wizard_main.js"></script>
{#    <link rel="stylesheet" href="https://mie1624-front.s3.amazonaws.com/static/css/css.css">#}
</head>

<body style="color: black">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
   <!--  <header class="header-section">
    </header> -->
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg">
        <div class="m_container">
            <div class="row" style="height: 100%; width: 100%; margin: 0">
                <div class="col-lg-12">
                    <div class="hero-text">
                        {% block form_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Js Plugins -->
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/jquery-3.3.1.min.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/bootstrap.min.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/jquery.magnific-popup.min.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/jquery.slicknav.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/owl.carousel.min.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/jquery.nice-select.min.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/mixitup.min.js"></script>
    <script src="https://mie1624-front.s3.amazonaws.com/static/js/m_wizard_test_main.js"></script>
</body>

</html>